@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,600&family=Lancelot&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(assets/fundo.jpeg); 
    background-size: 1355px;
}

.cabeçalho {
    padding: 3% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu-link {
    font-family: 'Lancelot', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 27px;
}

.apresentaçao {
    display: flex;
    align-items: center;
    padding: 5% 15%;
}

.apresentaçao-conteudo {
    width: 1280px;
}

main  h1 {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 63.62px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;
}

main p {
    margin-top: 8px;
    font-size: 18px;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
    text-align: justify;
    color: #fff;
}

main h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 56px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;
}

main h3 {
    margin-top: 22px;
    font-size: 45px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;
}