@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,600&family=Lancelot&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(assets/Background-1200px.jpg);
    background-repeat: no-repeat;
    background-size: 1355px;
}

.cabeçalho {
    padding: 3% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu-link {
    font-family: 'Lancelot', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 27px;
}

main section h1 {
    text-align: center;
    font-size: 63.62px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;
}

main section p {
    margin-top: 12px;
    font-size: 14px;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
    text-align: justify;
    color: #000;
}

.pessoas {
    margin-top: 5px;
}


.apresentaçao {
    align-items: center;
    padding: 5% 15%;
}

.apresentaçao-conteudo {
    width: 615px;
}


.foto {
    width: 100px;
    float: left;
    margin: 0px 20px 30px 0;
    border-radius: 16px;
}

.pessoas p {
    font-size: 14px;
    margin-bottom: 50px;
}

.pessoas h2 {
    font-size: 32px;
    font-family: 'Lancelot', sans-serif;
    font-weight: 400;

}

.spc {
    margin-bottom: 50px;
}
